/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
@font-face {
	font-family: Sports-World;
	src: url(../sportsworld/sports-world.ttf);
	font-style: normal;

}
body{
	font-family: Sports-World;
}
/*Верх шапки*/
header{
	position: relative;
}
.header-top{
	display: flex;
	justify-content: center;
	padding: 22px 0 22px 150px;

}
.header-top ul.navigation-list {
	display: flex;
	letter-spacing: 0.35px;
	margin: 10px 0 0 0;
}
.header-top ul.navigation-list a {
	color: #2c465a;
	font-size: 14px;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.35px;
	padding:2px;
}
.header-top ul.navigation-list li {
	padding: 0 0 0 38px;
}
.header-top ul.navigation-list li:last-child {
	padding: 0 0 0 23px;
	margin: 9px 0 0 0;
}
.top__bth {
	border-radius: 5px;
	margin: 0 0 0 68px;

}
.top__bth a{
	background: #fea100;
	padding: 13px 18px;
	display: inline-block;
	border: 1px solid white;
	border-radius: 5px;
	color: white;	
	box-shadow: 0 0 0 3px #fea100;
}
.top__bth span {
	background: url(../img/icons/icon__button_header.png)0 0 no-repeat;
	padding: 0 0 0 33px;
}
/*Подвал шапки*/
.header-footer {
	background: #edf1f3;
	border-bottom: 1px solid #edf1f3;
	height: 100%;
	display: flex;
	justify-content: center;
	padding: 0 0 0 450px;
}
.header-footer__read {
	background: url(../img/icons/icons8-chat-32.png)0 28px no-repeat;
	padding: 0 0 20px 40px;
	line-height: 20px;
	display: flex;
	border-right: 1px solid #e0e6e9;
}
.read__title {
	margin: 26px 0 0 0;
}
.read__bth {
	border-radius: 50%;
	margin: 27px 35px 0 15px;
}
.read__bth a {
	background: #fea100;
	padding: 6px 13px;
	display: inline-block;
	border: 1px solid white;
	border-radius: 50%;
	color: black;
	font-weight: 900;
	box-shadow: 0 0 0 2px #fea100;
}
.header-footer {
	margin: 0 0 66px 0;
}
.header-footer__call {
	background: url(../img/icons/icons8-phone-message-32.png)0 30px no-repeat;
	padding: 25px 40px 0 40px;
	border-radius: 1px solid;
	margin: 0 0 0 40px;
	border-right: 1px solid #e0e6e9;
	line-height: 20px;
}
.header-footer__telephone {
	font-size: 25px;
	padding: 30px 0 0 20px;
}
/*Слоган*/
.header-footer__slogan {
	position: absolute;
	top: -80px;
	left: -70px;

}
.slogan__body {
	position: absolute;
	top: 480px;
	left: 245px;
}
.slogan__top {
	position: absolute;
	z-index: 1;
	top: 440px;
	left: 300px;

}
.slogan__text {
	position: absolute;
	top: 45px;
	left: 0;
	margin: 0 10px;
	text-align: center;
	color: white;
}
/*Контент*/

main .description, main .rows-slider, main .rows h1, main .tabs, main .reviews-slider, main .reservation{
	max-width: 1172px;
	margin: 0 auto;
}
/*Блок_1*/
.description {
	font-family: Arial, sans-serif;
	display: flex;
}
.description .description-block {
	margin: 50px 0 0 0;
}
.description .description-block h1 {
	font-size: 30px;
	margin: 0 0 36px 0;
}
.description .description-block p {
	color: #7d8287;
	line-height: 30px;
	padding: 0 74px 0 0;
}
.description-block__button{
	margin: 92px 0 0 0;
}
.button {
	background: #fea100;
	padding: 22px;
	color: white;
	text-transform: uppercase;
	border-radius: 5px;
	margin: 5px 49px 0 0;
	display: inline-block;
}
.description-block__button a {
	background: #fea100;
	padding: 22px;
	color: white;
	text-transform: uppercase;
	border-radius: 5px;
	margin: 5px 49px 0 0;
	display: inline-block;
}
.description__image {
	display: flex;
}
.description__image img{
	padding: 5px;
}
.image__block-1 {
	margin: 50px 0 0 0;
}
/*block-2*/
.rows {	
	background: url(../img/backgrounds/test_header.png)center 0 no-repeat;
	margin: 100px 0 0 0;
	display: flex;
	flex-direction: column;
}
.rows-body {
	margin: 0 10px 89px 10px;
	width: 100px;
}
.rows .rows__title{
	padding: 11px 21px;
	width: 280px;
	margin: 89px auto 18px auto;
	background: orange;
	border-radius: 5px;
	color: white;
	font-size: 35px;
	text-transform: uppercase;
}
.rows-slider__info{
	background: white;
	padding: 50px 0 28px 0;
	box-shadow: 0 0 10px #eaeaea;
}
.rows-slider__title {
font-family: "Arial";
font-size: 26px;
text-align: center;
margin: 0 0 19px 0;
}
.rows-slider__subtitle{
	text-align: center;
	color: #7e8489;
	font-family: "Arial";
	line-height: 26px;
	font-size: 14px;
	margin: 0 50px 64px 50px;
}
.rows-slider-footer {
	display: flex;
	border-top: 1px solid #e1e1e1;
	margin: 0 50px 0 50px;
	font-family: 'Arial';
}
.rows-slider-footer__number {
		margin: 19px 0 0 0;
		border-right: 1px solid #e1e1e1;
		padding: 10px 18px 10px 0;
}
.rows-slider-footer__phone {
	font-size: 26px;
	padding: 28px 54px 0 22px;
	text-transform: uppercase;
}
.rows-slider-footer__price {
color: #fea100;
font-family: "Arial";
font-size: 30px;
font-weight: bold;
padding: 28px 0 0 0;
}
.rows-slider__image img{
	width: 100%;
}
/*Блок-3*/
.tab h1 {
	text-align: center;
	font-size: 35px;
	padding: 0 0 33px 0;
}
.tab-main__navigation ul{
	display: flex;
	justify-content: center;
	padding: 0 0 23px 0;
	border-bottom: 1px solid #a9b6bf;

}
.tab-main__navigation ul li {
	margin: 0 30px 0 0;
}
.tab-main__navigation ul label {
	color: black;
	padding: 30px 0 0 0;
	cursor: pointer;
}
.tab-main__navigation ul li:nth-child(1) {
	background: url(../img/icons/taB_1.png)center 0 no-repeat;
	padding: 35px 0 0 0;
}
.tab-main__navigation ul li:nth-child(2) {
	background: url(../img/icons/tab_2.png)center 0 no-repeat;
	padding: 35px 0 0 0;
}
.tab-main__navigation ul li:nth-child(3) {
	background: url(../img/icons/tab_3.png)center 0 no-repeat;
	padding: 35px 0 0 0;
}
.tab-main__navigation ul li:nth-child(4) {
	background: url(../img/icons/tab_4.png)center 0 no-repeat;
	padding: 35px 0 0 0;
}
.tab-main__navigation ul li:nth-child(5) {
	background: url(../img/icons/tab_5.png)center 0 no-repeat;
	padding: 35px 0 0 0;
}
.tab-main__navigation ul li:nth-child(6) {
	background: url(../img/icons/tab_6.png)center 0 no-repeat;
	padding: 35px 0 0 0;
}
.tab-main__navigation ul li:nth-child(7) {
	background: url(../img/icons/tab_7.png)center 0 no-repeat;
	padding: 35px 0 0 0;
}
.tab-main__navigation ul li:nth-child(8) {
	background: url(../img/icons/tab_8.png)center 0 no-repeat;
	padding: 35px 0 0 0;
}
.menu__item {
	display: flex;
	border-bottom: 1px solid #f6f6f6;
	margin: 26px 0 0 0;
	justify-content: space-between;
}
.menu__item:last-child {
		border-bottom: 0px solid #f6f6f6;
}
.item__name {
	padding: 0 ;
}
.tab-main-menu .menu__item .item__name h2 {
	margin: 0 0 12px 0;
}
.tab-main-menu .menu__item .item__name p {
	color: #5c6369;
	padding: 0 0 26px 0;
}
.tab-main-menu .menu__item .item__price span {
	color: #fea50c;
	font-size: 26px;
}
.tab-main-menu {
	justify-content: space-between;
	display: flex;
}
.tab-main-menu article{
	width: 50%;
	padding: 0 30px 0 0;
}
.tabs input[type=radio] {
display:none;
}
.tab-content {
display: none;
}
#tab-all:checked ~ #tab-content-all,
#tab-breakfast:checked ~ #tab-content-breakfast,
#tab-lunch:checked ~ #tab-content-lunch,
#tab-snacks:checked ~ #tab-content-snacks,
#tab-pizza:checked ~ #tab-content-pizza,
#tab-soups:checked ~ #tab-content-soups,
#tab-dinner:checked ~ #tab-content-dinner
{
display: block;
}
.tab__button {
	text-align: center;
	padding: 51px 0 0 0;
}
.tab__button a {
	font-size: 14px;
	color: #fff;
	padding: 21px 33px;
	text-align: center;
	background: #fea50c;
	border-radius: 5px;
}
/*Блок-4*/
.reviews {
	background: url(../img/backgrounds/rewiewvs__background.png);
	margin: 120px 0 0 0;
	color: white;
	text-align: center;
	padding: 100px 0;
	position: relative;
}
.reviews h2 {
	margin: 0 0 32px 0;
	font-size: 35px;
}
.reviews .rewies-slider-item__text p{
	margin: 0 262px 31px 262px;
	font-size: 13px;
	line-height: 26px;
}
.user__name {
	margin: 16px 0 8px 0;
}
.user__img{

}
.user__img img {
	border-radius: 50%;
	box-shadow: 0 0 10px black;
	width: 67px;
	height: 67px;
}
.reviews-slider:before {
	content: '';
	width: 50px;
	height: 50px;
	background: url(../img/icons/quote_icon_2.png)no-repeat;
	position: absolute;
	left: 147px;
	top: 70px;
}
.reviews-slider:after {
	content: '';
	width: 50px;
	height: 50px;
	background: url(../img/icons/quote_icon.png)no-repeat;
	position: absolute;
	right: 145px;
	bottom: 108px;
	font-size: 60px;
}
/*Block-5*/
.reservation h1 {
font-size: 35px;
margin: 93px 0 38px 0;
text-align: center;
}
.reservation-item {
	display: flex;
}
.menu {
	display: flex;
	margin: 0 0 0 41px;
}
.menu__input {
	margin: 24px 0 0 0;
}
.menu__input input{
	margin: 0 30px 33px 0;
	border-bottom: 1px solid #c7d1d6;
	padding: 10px 35px 10px 10px;
}
.menu input:nth-child(1){
	background: url(../img/icons/reservation-item-1.png)right 10px no-repeat;
}
.menu input:nth-child(2){
	background: url(../img/icons/reservation-item-2.png)right 10px no-repeat;
}
.menu input:nth-child(3){
	background: url(../img/icons/reservation-item-3.png)right 10px no-repeat;
}
.menu input:nth-child(4){
	background: url(../img/icons/reservation-item-4.png)right 10px no-repeat;
}
.menu input:nth-child(5){
	background: url(../img/icons/reservation-item-5.png)right 10px no-repeat;
}
.menu input:nth-child(6){
	background: url(../img/icons/reservation-item-6.png)right 10px no-repeat;
}
.menu__button button{
	background: #fea50c;
	padding: 21px 30px;
	display: inline-block;
	border-radius: 5px;
	color: #fff;
	margin: 0 0 0 42px;
}
.reservation__footer {
	display: flex;
}
.reservation__info {
	padding: 13px 0 0 41px;
}
.reservation__info h2{
	padding: 0 0 36px 0;
}
.reservation__info span {
	font-size: 24px;
}
/*footer*/
/*Навигация*/
footer{
	background: #373844;
}
footer .footer__elements {
	font-family: Arial, sans-serif;
	max-width: 1172px;
	margin: 64px auto 0 auto;
	}
.footer__elements {
	display: flex;
	padding: 100px 0 100px 0;
}
.navigation {
	margin: 0 190px 0 0;
}

.footer__elements .navigation h2, .news h2 {
	color: white;
	font-size: 18px;
	letter-spacing: 2px;
	margin: 0 0 35px 0;
}
.footer__elements .navigation a {
	color: #a2a7ad;
}
.footer__elements .navigation li {
	margin: 0 0 21px 0;
}
/*Новости*/
.news span {
	color: #a2a7ad;
	margin: 0 0 16px 0;
	display: inline-block;
}
.news input {
	border-radius: 5px;
	border: 2px solid #52535e;
	padding: 17px 50px;
	background-color: #373844;
	margin: 0 5px 0 0;
	background: url(../img/icons/email.png)15px 18px no-repeat;
	font-weight: bold;
	color: white;

}
.news button {
	padding: 17px 10px;
	background: #fea100;
	color: white;
	font-family: Sports-World;
	border-radius: 5px;
}
/*Соц.сети*/
.social {
	margin: 38px 0 0 0;
}
.social img {
	margin: 0 5px 0 0;
}
/*Текст*/
.footer__text {
	padding: 0 0 67px;
	text-align: center;
	color: #adb2b7;
}
